page-source {
.scroll-content{
    background: #f9f9f9;
}

.image-button{
    background: transparent;
}
.image-source{
      width: 12em;
    border-radius: 0.6rem;
    height: 8em;
}
.title-source{
    font-family: calibri;
    font-size : 1.6rem;
    font-weight: 400;
    color: #646464;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 1.6em;
    font-weight: 400;
    font-family: calibri;
    text-align: center;
    /* color: #424242; */
}
}
